# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/misc/useful_jsCode.txt
src/project_plans_scrum_files/bricks_in_the_wall.txt
src/project_plans_scrum_files/desired_features_temp.txt
src/project_plans_scrum_files/features.txt
src/project_plans_scrum_files/review_notes.txt
src/project_plans_scrum_files/terms&concepts_to_review.txt
src/project_plans_scrum_files/xalgorithms.txt
src/project_plans_scrum_files/xbricks_in_the_wall.txt
src/project_plans_scrum_files/xfeatures.txt
